<app-page-header></app-page-header>
<div class="container-fluid">
    <!-- <div class="row px-xl-5 h-100"> -->
    <div class="row h-100">
        <!-- <div class="col-lg-8 card table-responsive mb-5" style="height: 200px;"> -->
        <div class="col-lg-8 card mb-5" style="height: 200px;">
            <app-cart-items></app-cart-items>
        </div>
        <div class="col-lg-4">
            <app-cart-summary></app-cart-summary>
        </div>
    </div>
</div>
<app-wishlist-index></app-wishlist-index>